/.cache/
/.lsp-session-v1
/elpa/
/smex-items
/transient/
/eshell/
/server/
/auto-save-list/
/.dap-breakpoints
/.trello/
/cnfonts/
/request/
/org-roam.db
/bookmarks
/url/
*.el#
/projectile-bookmarks.eld
